h1 {
    font-family: Roboto;
    font-weight: 500;
}

#descricao {
    font-family: Roboto;
    font-weight: 400;
}

body {
    background-color: #83ECA1;
}

strong {
    text-decoration: underline;
}
.skills1 {
    font-size: 160%;    
}
.skills2 {
    font-size: 130%;    
}
.skills3 {
    font-size: 100%;    
}   