h1 {
    font-family: Roboto;
    font-weight: 500;
}

#descricao {
    font-family: Roboto;
    font-weight: 400;
}

body {
    background-color: #83ECA1;
}

strong {
    text-decoration: underline;
}
.skills1 {
    font-size: 160%;    
}
.skills2 {
    font-size: 130%;    
}
.skills3 {
    font-size: 100%;    
}   
.dota {
    margin-top: 30px;
    border: 3px solid #ffffff50;
    padding: 15px 25px;
    margin: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    box-sizing: border-box;
    font-family: Radiance, sans-serif;
    color: inherit;
    font-family: Roboto;
    font-weight: 500;
}