h1 {
    font-family: Roboto;
    font-weight: 500;
}

#descricao {
    font-family: Roboto;
    font-weight: 400;
}

body {
    background-color: #83ECA1;
}

strong {
    text-decoration: underline;
}
.skills1 {
    font-size: 160%;    
}
.skills2 {
    font-size: 130%;    
}
.skills3 {
    font-size: 100%;    
}   
.nomecompleto {
        height: 300px;
        text-align: center;
}
#minhafoto {
    float: left;
    border: 5px solid rgb(73, 73, 187);
    border-radius:50%;
    border-style: double;
    margin: 10px;
}
#descricao {
    padding-top: 45px;
    margin: 25px;
    
}
.descricao {
    
}
.listaskills li:nth-child(even) {
    background-color: rgb(74, 200, 200);
    
}
